@import"../../assets/colors.scss";

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 200px;
  }
  .menu {
    color: $brown ;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    &:hover {
      color: $orange;
    }
  }
}
