@import "../../assets/colors.scss";

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 50px;
  img {
    width: 500px;
  }
}

.loginBtn {
  font-size: 25px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  img {
    width: 300px;
  }
}

.map {
  agm-map {
    height: 400px;
  }
}
